.advanced-search{
	padding: 76px 0 43px 0;
	background: #F6F7FC;
	h3{
		font-family: $secondary-font;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		line-height: 25px;
		color: $primery-text-color;
	}
	p{
		font-family: $secondary-font;
		font-size: 16px;
		color: #000000;
		margin-top: 20px;
    	margin-bottom: 7px;
	}
	select{
		font-family: $secondary-font;
		font-size: 16px;
		color: #000000;
		height: 52px;
		width: 240px;
		padding-left: 22px;
		border: none;
		outline: none;

	}
	label{
		font-family: $secondary-font;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
	.block-2{
		.block-2_p{
			padding: 25px 0 7px;
		}
	}
	.check-block{
		display: flex;
		input{
			margin: 5px 30px 0 7px;
		}
		span{
			padding-right: 10px;
		}
		.checkbox-books{
			margin-top: 15px;
    		font-size: 14px;
    		input{
    			cursor: pointer;
    			margin-right: 10px;
    			display: none;
    		}
    		label:after{
				content: "";
				display: inline-block;
				border: 1px solid #D6D6D6;
				font-size: 20px;
				line-height: 22px;
				margin: -5px 5px 0 0;
				height: 20px;
				width: 20px;
				cursor: pointer;
			}
    		input[type="checkbox"]:checked + label:after{ 
    			color: #000;
    			background: url(../img/Vector.png) no-repeat center center;
    		}
		}
	}
	.block-4__input{
		
		input{
			opacity: 0.83;
			border: 1px solid #E2E6EA;
			border-radius: 5px;
			font-family: $secondary-font;
			font-style: italic;
			font-weight: 300;
			font-size: 16px;
			padding: 15px 100px 15px 23px;		
		}
		p{
		font-family: $secondary-font;
		font-style: italic;
		font-size: 14px;
		letter-spacing: -0.0825px;
		padding-top: 2px;
		color: #9B9B9B;
		}
	}
	.find{
		
		a{
		background: $btn-normal;
		border-radius: 92px;
		text-decoration: none;
		color: #FFFFFF;
		padding: 12px 66px 12px 66px;
		display: inline-block;
		}
		.find-reset{
			font-family: $secondary-font;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: -0.0825px;
			text-decoration-line: underline;
			color: #000000;
			display: inline-block;
			margin-left: 30px;
		}
	}
	.block-3{
		.advanced-search{
			select{
				margin-bottom: 24px;
			}
		}
		#slider-price{
			width: 240px;
		}
		#slider-price__value{
			font-family: $secondary-font;
			font-size: 15px;
			letter-spacing: -0.0825px;
			color: #000000;
			text-align: center;
			display: block;
			margin-top: 12px;
		}
		.ui-widget.ui-widget-content{
		   	border: none;
		}
		.ui-slider-horizontal{
		   	height: 5px;
		}
		.ui-widget-header{
		    border-radius: 5px;
		    outline: 0;
		    border: none;
		    background: #80899F;
		}
		.ui-state-default{
		   	background: #69B35D;
		    width: 16px;
		    height: 16px;
		    border-radius: 50%;
		    cursor: pointer;
		    border: none;
		    outline: none;
		}
		.ui-slider-horizontal .ui-slider-handle {
		    top: -0.4em;
		    margin-left: -.6em;
		}
		.select-price{
			margin-bottom: 24px;
		}
	}
	.block-4{
		padding: 0;
		.block-4__input{
			input{
				position: relative;
				outline: none;
			}
			img{
				position: absolute;
	    		top: 60px;
	    		left: 220px;
			}
		}
	}
	.search-avtor{
		font-family: $secondary-font;
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.0825px;
		color: #9B9B9B;
		margin-bottom: 20px;
	}
	.value {
  		font-family: $secondary-font;
		font-size: 15px;
		letter-spacing: -0.0825px;
		color: #000000;
		margin-top: 25px;
	}
	input[type="range"] {
	  display: block;
	  -webkit-appearance: none;
	  background-color: #80899F;
	  width: 240px;
	  height: 5px;
	  border-radius: 5px;
	  outline: 0;
	  margin-top: 25px;
	}
	input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  background-color: #69B35D;
	  width: 16px;
	  height: 16px;
	  border-radius: 50%;
	  cursor: pointer;
	};
  	input[type="range"]::-webkit-slider-thumb:active {
    	transform: scale(1.6);
  	}
}
.advanced-search__close, close{
	position: absolute;
    width: 20px;
    cursor: pointer;
    top: 160px;
	right: 5px;
	&:hover {
		opacity: 1;
	}
	&:before {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 20px;
		width: 2px;
		background-color: #ef6344;
		transform: rotate(45deg);
	}
	&:after{
		position: absolute;
		left: 15px;
		content: ' ';
		height: 20px;
		width: 2px;
		background-color: #EF6344;
		transform: rotate(-45deg);
	}
}
.all-books{
	padding: 31px 0 56px 0;
	display: none;
	.all-books-one{
		li{
			a{
				font-family: $secondary-font;
				font-size: 17px;
				line-height: 204%;
				color: #242935;
				padding: 5px 0;
    			display: block;
			}
		}
	}
}
.slick{
	padding-top: 25px;
	margin: 0 -15px;
	height: 100%;
	width: 100%;
	.slider-wrapper{
		padding: 0 15px;
		outline: none;
	}
	.books-slider{
		height: 230px;
	}
	.img-1{
		background: url(../img/11.png);
		background-repeat: no-repeat;
		background-size: cover;
		p{
			font-family: $secondary-font;
			font-size: 12px;
			color: $primery-text-color;
			padding: 22px 0 0 43px;
		}
		h3{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 33px;
			line-height: 39px;
			letter-spacing: 3.3px;
			color: $primery-text-color;
			text-align: left;
			margin-left: 25px;
    		width: 60%;
		}
	}
	.img-2{
		background: url(../img/12.png);
		background-repeat: no-repeat;
		background-size: cover;
		p{
			font-family: $secondary-font;
			font-size: 12px;
			color: #EEEEEE;
			padding: 22px 0 0 43px;
		}
		h3{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 33px;
			line-height: 39px;
			letter-spacing: 3.3px;
			color: #FFFFFF;
			text-align: left;
			margin-left: 25px;
    		width: 60%;
		}
	}
	.img-3{
		background: url(../img/13.png);
		background-repeat: no-repeat;
		background-size: cover;
		p{
			font-family: $secondary-font;
			font-size: 12px;
			color: #EEEEEE;
			padding: 22px 0 0 43px;
		}
		h3{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 33px;
			line-height: 39px;
			letter-spacing: 3.3px;
			color: #FFFFFF;
			text-align: left;
			margin-left: 25px;
    		width: 60%;
		}
	}

	.slick-next {
    	right: calc(33.33333% - 25px);
    	z-index: 2;
    	background: url(../img/23-prew.svg) center center;
    	height: 50px;
    	width: 50px;
    	&:before{
    		content: none;
    	}
	}
	.slick-prev {
    	left: calc(33.33333% - 25px);
    	z-index: 2;
    	background: url(../img/22-next.svg) center center;
    	height: 50px;
    	width: 50px;
    	&:before{
    		content: none;
    	}
	}
}
.services-block{
	padding: 22px 0 148px 0;
	display: block;
	.services-block-one{
		background: #F8F8FA;
		border-radius: 7px;
		text-align: center;
		// min-height: 193px;
   		padding: 14px 9px;
    	min-height: 190px;
    	height: 100%;
		img{
			display: block;
    		margin: 20px auto 17px auto;
		}
		.text{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 21px;
			color: $primery-text-color;
		}
	}
}
.book-list{
	background: #F8F8FA;
	padding: 55px 0 70px 0;
	.news-slider{
		position: relative;
		.news{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 30px;
			letter-spacing: 3.3px;
			color: $primery-text-color;
			padding: 57px 35px;
		}
		.news-slider__img{
			position: absolute;
			top: 68px;
    		right: 200px;
    		cursor: pointer;
	    	#buttom-left{
	    		margin-right: 40px;
	    	}
		}	
	}
	.cell-block{
		.novelty{
			position: absolute;
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 12px;
			text-align: right;
			letter-spacing: 2.3px;
			color: #FFFFFF;
			transform: rotate(-90deg);
			background: #3D649E;
			//left: 25px;
			display: inline-block;
    		padding: 0 5px 0 5px;
    		top: 57px;
    		left: -5px;
		}
	}
}
.book-one{
	display: inline-block;
	margin-top: 15px;
	text-align: center;
	position: relative;
	height: 480px;
	max-width: 268px;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	border-radius: 3px;
	padding-top: 23px;
	&:hover .basket{
		opacity: 1;
	}
	&:hover{
		height: 600px;
		transition: all 0.3s;
	}
	.book-name{
		margin-top: 9px;
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 131.3%;
		color: $primery-text-color;
		padding: 0 25px;
		font-weight: bold;
	}
	.author{
		margin-top: 11px;
		font-family: $primery-font;
		font-style: italic;
		font-weight: bold;
		font-size: 15px;
		color: #80899F;
	}
	.price{
		margin: 4px 0 40px;
		font-family: $primery-font;
		font-weight: 900;
		font-size: 25px;
		color: $primery-text-color;
	}
	.basket{
		opacity: 0;
		display: inline-block;
		background: $btn-normal;
		border-radius: 92px;
		min-width: 166px;
    	cursor: pointer;
    	box-sizing: border-box;
    	padding: 12px 17px;
    	transition: all 0.6s;
    	a{
    		text-decoration: none;
    		font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			color: #FFFFFF;
    	}
	}
}
.rating{
	padding-top: 15px;
	i{
		color: #F9DAD5;
		font-size: 17px;
		line-height: 20px;
		&.active{
			color: #F97A69;
		}
	}
}
		img{
			margin: 0 auto;
		}
.popular{
	padding: 55px 0 70px 0;
	.popular-books{
		position: relative;
		.popular-books-p{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 30px;
			letter-spacing: 3.3px;
			color: $primery-text-color;
			padding: 0 0 35px 57px;
		}
		.popular-books-button{
			position: absolute;
			top: 5px;
    		right: 200px;
    		cursor: pointer;
	    	#arrow-left{
	    		margin-right: 40px;
	    	}
		}	
	}
}
.popular-book{
	position: absolute;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	letter-spacing: 2.3px;
	color: #FFFFFF;
	transform: rotate(-90deg);
	background: #E6614F;
	//left: 25px;
	display: inline-block;
    padding: 0 5px 0 5px;
    top: 35px;
    left: 5px;
}
.margin-15{
	margin: 15px;
}
.leather-books{
	background: #F8F8FA;
	padding: 55px 0 70px 0;
	position: relative;
	.leather-books-name{
		display: inline-block;
	}
	.leather-books__arrows{
		position: absolute;
		top: 64px;
    	right: 200px;
    	cursor: pointer;
    	#leather-books__arrow-left{
    		margin-right: 40px;
    	}
	}
	.elite{
		position: absolute;
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 12px;
		text-align: right;
		letter-spacing: 2.3px;
		color: #FFFFFF;
		transform: rotate(-90deg);
		background:  #897869;
		//left: 25px;
		display: inline-block;
    	padding: 0 5px 0 5px;
    	top: 57px;
    	left: -5px;
	}
}
.leather-books__offer{
	font-family: $primery-font;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 3.3px;
	color: $primery-text-color;
	padding: 0 0 35px 57px;
}
.leather-books__button{
	border: 1.8px solid #2D9E1A;
	box-sizing: border-box;
	border-radius: 92px;
	position: absolute;
	padding: 12px 12px 13px 17px;
	top: 56px;
	right: 350px;
	a{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		color: $primery-text-color;
		text-decoration: none;
	}
}
.leather-books__button-underground{
	position: static;
	margin: 15px 0 0 10px;
    display: none;
}
.subscription-block{
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 30px;
	.subscription-block__text{
		position: relative;
		padding: 35px 25px 35px 130px;
		.action{
			width: 95px;
	    	height: 100%;
	    	background: #484F61;
	    	top: 0;
	    	left: 1px;
	    	position: absolute;
	    	font-weight: 700;
	    	font-size: 18px;
	    	span{
	    		transform: rotate(-90deg);
    			color: #fff;
    			position: absolute;
    			top: 0;
    			bottom: 0;
    			left: 0;
    			right: 0;
    			width: 95px;
    			height: 20px;
    			display: block;
    			margin: auto;
    			letter-spacing: 6.3px;
	    	}
		}
		.title{
			font-family: $secondary-font;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			color: $primery-text-color;
			line-height: 131.3%;
			margin-bottom: 16px;
		}
		.input-group{
			position: relative;
			margin-bottom: 17px;
			.input-email{
				font-family: $secondary-font;
				font-weight: 300;
				font-size: 17px;
				color: #616161;
				outline: none;
				padding-left: 23px;
    			border: 1px solid #C2C2C2;
    			box-sizing: border-box;
    			border-radius: 3px;
    			height: 49px;
    			width: 100%;
    			padding-right: 110px;
			}
			.button-subscription{
				background: $btn-normal;
    			height: 49px;
    			width: 110px;
    			border: none;
    			position: absolute;
    			right: 0;

			}
		}
	}
	.top-weeks{
		background: #F2F1F8;
		padding: 35px 0 0 60px;
    	position: relative;
    	.top-title{
    		font-family: $primery-font;
			font-weight: 900;
			font-size: 38px;
			line-height: 131.3%;
			color: $primery-text-color;
			margin-bottom: 10px;
    	}
    	.sub-title{
    		font-family: $secondary-font;
			font-weight: 500;
			font-size: 23px;
			line-height: 131.3%;
			color: $primery-text-color;
    	}
    	.button-buy{
    		border: 1.8px solid #2D9E1A;
			box-sizing: border-box;
			border-radius: 10750px;
			min-width: 166px;
			display: inline-block;
			padding: 12px 17px;
			margin: 12px 0 40px 0;
			text-align: center;
			a{
				text-decoration: none;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 17px;
				color: $primery-text-color;
			}
    	}
    	.price{
    		display: inline-block;
    		font-family: $primery-font;
			font-weight: 900;
			font-size: 26px;
			text-align: center;
			color: $primery-text-color;
			margin-left: 12px;
    	}
    	.img-top-weeks{
    		position: absolute;
    		max-width: 50%;
    		top: -10px;
    		right: 0;
    	}
    }
}
.checkbox-agreement{
			margin-top: 15px;
    		font-size: 14px;
    		input{
    			cursor: pointer;
    			margin-right: 10px;
    			display: none;

    		}
    		label{
    			font-family: $secondary-font;
				font-weight: normal;
				font-size: 14px;
				color: $primery-text-color;
				&:before{
					content: "";
    				display: inline-block;
    				border: 1px solid #D6D6D6;
    				font-size: 20px;
    				line-height: 22px;
    				margin: -5px 5px 0 0;
    				height: 20px;
    				width: 20px;
    				cursor: pointer;
				}
    		}
    		input[type="checkbox"]:checked + label:before{ 
    			color: #000;
    			background: url(../img/Vector.png) no-repeat center center;
    		}
		}
.events{
	 background: #484F61;
	 padding: 80px 0 93px 0;
 	.title-events{
		font-family: $primery-font;
		font-size: 30px;
		font-weight: bold;
		line-height: 44px;
		letter-spacing: 3.3px;
		text-align: center;
		margin-bottom: 40px;
		color: #fff;
 	}
 	.event-one__wraper{
	  	background: url(../img/31-1968-932-hero.png) no-repeat center center;
	  	background-size: cover;
	  	color: #fff;
	  	min-height: 380px;
	 	position: relative;
  		.event-group{
		   width: 100%;
		   height: 100%;
		   position: absolute;
		   transition: all 0.6s;
			.date__views{
			    transition: all 0.6s;
			    position: absolute;
			    top: 15px;
			    left: 25px;
			    width: calc(100% - 50px);
			    font-weight: 700;
			    font-size: 16px;
			    line-height: 19px;
			    font-family: $secondary-font;
				.eye{
				    position: absolute;
				    right: 0;
				}
   			}
	   		.sub-title{
			    transition: all 0.6s;
			    padding: 0 25px;
			    position: absolute;
			    font-family: $primery-font;
			    font-style: normal;
			    font-weight: 700;
			    font-size: 24px;
			    top: 143px;
			    text-align: center;
			    a{
			     text-decoration: none;
			     color: #fff;
			    }
   			}
		   .hashtag{
			    position: absolute;
			    bottom: 15px;
			    left: 25px;
			    font-weight: normal;
			    font-size: 18px;
			    line-height: 22px;
			    font-style: italic;
			    font-family: $secondary-font;
		   }
 		}
		&:hover .event-group{
		   .date__views{
		    	top: 180px;
		    	transition: all 0.6s;
		   }
		   .sub-title{
		    	top: 225px;
		    	transition: all 0.6s;
		    	background: #fff;
		    	height: 156px;
		    	width: 100%;
		    	font-size: 23px;
		    	text-align: left;
		    	color: $primery-text-color;
		    	padding: 25px 25px 29px 25px;
		    	a{
		     		text-decoration: none;
		     		color: $primery-text-color;
		   		}
	   		}
		   	.hashtag{
		    		color: $primery-text-color;
		    		transition: all 0.6s;
		   	}
	  	}
 	}
}

.scheme-work{
	position: relative;
	.scheme-left{
		position: absolute;
    	left: -25%;
    	top: 0;
	}
	.scheme-right{
		position: absolute;
    	right: -20%;
    	top: 0;
	}
	.step-title{
		font-family: $primery-font;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
		letter-spacing: 3.3px;
		color: $primery-text-color;
		margin-top: 70px;
    	margin-bottom: 21px;
	}
	.step-description{
		font-family: $secondary-font;
		font-weight: normal;
		font-size: 23px;
		line-height: 131.3%;
		text-align: center;
		color: $primery-text-color;
		margin: 0 auto;
		margin-bottom: 30px;
		width: 60%;
	}
	.step-block{
		position: relative;
    	padding-bottom: 105px;
    	hr{
    		position: absolute;
    		height: 3px;
    		background: #767E92;
    		top: 42px;
    		width: 70%;
    		left: 15%;
    	}
    	.step-block__one{
			text-align: center;
			position: relative;
			width: 100%;
			min-height: 1px;
    	}
    	.step-block__one-img{
    		margin: 0 auto;
    		position: relative;
    		background: #435275;
    		border-radius: 50%;
    		height: 117px;
    		width: 117px;
    		margin-bottom: 17px;
    		img{
    			position: absolute;
    			top: 0;
    			bottom: 0;
    			left: 0;
    			right: 0;
    			margin: auto;
    		}
    	}
    	.step-block__one-name{
    		font-family: $primery-font;
    		color: #2A610F;
    		font-weight: bold;
    		font-size: 22px;
    		line-height: 131.3%;
    		margin-bottom: 10px;
    	}
    	.step-block__one-title{
    		font-family: $secondary-font;
    		font-weight: bold;
    		font-size: 18px;
    		line-height: 131.3%;
    	}
	}
}
.description-block{
	padding: 74px 0 70px 0;
	background: #F8F8FA;
	.description-title{
		font-family: $primery-font;
		font-weight: bold;
		font-size: 31px;
		line-height: 44px;
		text-align: center;
		color: $primery-text-color;
	}
	.description-sub-title{
		font-family: $secondary-font;
		font-weight: normal;
		font-size: 23px;
		line-height: 131.3%;
		text-align: center;
		color: $primery-text-color;
		margin-top: 16px;
		margin-bottom: 30px;
	}
	.description-text{
		font-family: $secondary-font;
		font-weight: normal;
		font-size: 18px;
		line-height: 35px;
		text-align: center;
		color: $primery-text-color;
		margin-bottom: 50px;
	}
	.description-hr{
		height: 1px;
    	background: #80899F;
    	margin: 65px 0;
	}
	.margin-other{
		margin-bottom: 50px;
	}
	.description-block__table{
		.description-block__table-title{
			font-family: $secondary-font;
			font-size: 20px;
			color: $primery-text-color;
			padding-bottom: 20px;
			img{
				    padding-right: 20px;
			}	
		}
		p{
			font-family: $secondary-font;
			font-weight: normal;
			font-size: 18px;
			line-height: 35px;
			color: $primery-text-color;
		}
	}
}

