.footer-block{
	background: #333947;
	color: #9298A6;
    background: #333947;
    font-family: "Lato",sans-serif;
    padding: 40px 0 45px 0;
    .footer-block__logo{
    	p{
    		margin-top: 25px;
    		font-size: 15px;
    	}
    }
    .footer-block__about-title{
	    font-family: $secondary-font;
		font-weight: bold;
		font-size: 17px;
		line-height: 20px;
		color: #F0F0F0;
	}
    ul{
    	margin-top: 20px;
	    list-style: none;
	    padding-left: 0;
	    li{
			font-size: 16px;
    		margin-bottom: 20px;
    		a{
    			text-decoration: none; 
    			color: #9298A6;
    			&:hover{
    				color: #F0F0F0;
    				text-decoration: underline;
    			}
    		}
	    }
	}
	.textum{
    	text-decoration: underline;
    }
    .footer-block__contacts{
    	i{
    		font-size: 20px;
    		color: #7D9756;
    		margin-right: 10px;
    	}
    }
    .footer-block__phones{
    	i{
    		font-size: 20px;
    		color: #7D9756;
    		margin-right: 10px;
    	}
    	ul{
    		margin-top: 0px;
    	}
    	li{
    		color: #F0F0F0;
    	}
    }
    .social{
            position: relative;
            text-align: center;
            color: #C1C6D0;
            width: 35px;
            height: 35px;
            border: 1px solid #D0D0D0;
            display: inline-block;
            vertical-align: top;
            margin-right: 8px;
            border-radius: 20px;
            i{
                color: #C1C6D0;
                margin-top: 6px;
                margin-right: 0;
            }
        }
}