.custom-container{
	// padding: 10px 0 10px;
	max-width: 1350px;
}
.d-flex{
	display: flex!important;
}	
.header{
	.logo{
		cursor: pointer;
	}
	.number{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: right;
		color: #040D21;
		margin-top: 10px;
	}
	.icon{
		text-align: right;
		cursor: pointer;
		img{
			padding-left: 10px;
		}	
	}
	.custom-buttom{
		cursor: pointer;
		border: 1.8px solid #2D9E1A;
		box-sizing: border-box;
		border-radius: 92px;
		height: 46px;
		padding: 0 22px;
    	line-height: 42px;
    	font-family: $secondary-font;
		font-weight: bold;
		font-size: 16px;
		color: $primery-text-color;
		margin-top: 10px;
	}
	.language{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: $primery-text-color;
		margin-top: 23px;
		cursor: pointer;
		img{
			transition: all .5s;	
		}
		&.turn{
			img{
				transform: rotate(180deg);
			}
		}
		select{
			   outline: none;
    			border: none;
    			appearance: none;
		}
	}
	.text{
		    margin-top: 20px;
		ul{
			margin: 0;
    		padding: 0;
    		border: 0;
			li{
				display: inline-block;
				padding-right: 10px;
				a{
					text-decoration: none;
					font-family: $secondary-font;
					font-size: 17px;
					color: $primery-text-color;
				}
			}
		}
	}
	.navigation{
		margin-top: 10px;
		border-bottom: 1px solid #B7B7B7;
    	border-top: 1px solid #B7B7B7;
    	overflow: hidden;
    	.custom-container{
    		padding: 0;
    	}
    	.nav{
    		font-size: 0;
    	}
		ul{
			text-align: center;
    		width: 100%;
    		display: table;
    		line-height: 20px;
    		list-style: none;
    		margin: 0;
    		padding: 0;
    		border: 0;
			li{
				list-style-type: none;
				display: table-cell;
				padding: 20px 20px;
				opacity: 0.83;
				border-right: 0.5px solid #B7B7B7;
				a{
					font-family: $secondary-font;
					font-weight: bold;
					font-size: 15px;
					color: $primery-text-color;
					text-decoration: none;
				}
			}
		}
	}
    label{
    	margin: 0;
    	margin-left: 9px;
    }
	input{
		display: none;
	}
}
.hamburger{
	margin: 0 auto;
	width: 20px;
	height: 14px;
	position: relative;
	display: block;
	cursor: pointer;
	.bar{
		padding: 0;
		width: 20px;
		height: 2px;
		display: block;
		border-radius: 4px;
		transition: all 0.4s ease-in-out;
		position: absolute;
		background: #555555;
	}
	.bar1{
		top: 0;
	}
	.bar2{
		top: 6px;
	}
	.bar3{
		right: 0;
		top: 6px;
	}
	.bar4 {
		bottom: 0;
	}
}
.header-basket{
	display: flex;
	cursor: pointer;
}
.circle{
	background: #F4F5FB;
	margin-right: 5px;
	border-radius: 50px;
	height: 52px;
	width: 52px;
	position: relative;
	margin-top: 10px;
	display: block;
	img{
		height: 22px;
		width: 22px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
	}
}
.decree{
	margin-top: 30px;
	display: block;
	a{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		color: $primery-text-color;
		text-decoration: none;
		margin: 0;
		padding: 0;
		border: 0;
	}
}
.search{
		// float: left;
    	background: #F4F5FB;
    	position: relative;
    	display: block;
    	// overflow: hidden;
    	&:before{
    		content: " ";
    		position: absolute;
    		background: #F4F5FB;
    		display: block;
    		height: 100%;
    		width: 50vw;
    		left: 100%;
    		top: 0;
				
    	}
  	.search-button{
		background: none;
	    outline: none;
	    border: none;
	    margin: auto;
	    padding: 0;
	    position: absolute;
	    height: 20px;
	    width: 20px;
	    cursor: pointer;
	    top: 0;
	    bottom: 3px;
	    left: 30px;
	}
	.search-input{
		font-size: 18px;
	   	padding: 22px 10px 22px 70px;
	   	background: none;
	   	border: none;
	   	outline: none;
	   	font-style: italic;
	   	display: inline-block;
	}
	.search-button__img{
	   	cursor: pointer;
	}
}
#checkbox2{
	display: none;
}
.checkbox1:checked + label > .hamburger1 > .bar1,
.checkbox2:checked + label > .hamburger2 > .bar1{
    transform: rotate(45deg);
    transform-origin: 6%;
    width: 21px
}

.checkbox1:checked + label > .hamburger1 > .bar2,
.checkbox2:checked + label > .hamburger2 > .bar2{
    transform: translateX(-21px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3,
.checkbox2:checked + label > .hamburger2 > .bar3{
    transform: translateX(21px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4,
.checkbox2:checked + label > .hamburger2 > .bar4{
    transform-origin: 6%;
    transform: rotate(-45deg);
    width: 21px;
}
.header-mobile {
	.logo {
		width: 120px;
		height: 44px;
		margin: 10px 0 0 4px;
	}

	.popup-search {
		cursor: pointer;
		height: 30px;
		width: 30px;
		background: none;
		top: 5px;
		right: 5px;
		border: none;
		outline: none;
	}
	.hamburger{
		margin: 0;
		width: 28px;
		height: 15px;
		.bar{
			width: 28px;
			height: 3px;
		}
		.bar2{
			top: 6px;
		}
		.bar3{
			top: 6px;
		}
	}
}
.header-mobile{
	display: none;
}

