.overlay{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
     background-color: rgba(14, 1, 1, 0.28);
  	-webkit-backdrop-filter: blur(1px);
  	backdrop-filter: blur(1px);
}
.overlay-popup{
	position: absolute;
	max-width: 700px;
    background: #fff;
    z-index: 4;
    padding: 60px;
    margin: auto;
    top: 80px;
    right: 0;
    left: 55%;
    display: none;
    position: fixed;
	&:before{
		top: 0;
    	content: "";
    	display: block;
    	position: absolute;
    	height: 100%;
    	width: 50vw;
    	left: 100%;
    	background: #fff;
	}
	.close-popup{
		cursor: pointer;
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 40px;
    	width: 100%;
    	float: left;
    	color: #242935;
    	opacity: .75;
    	&:hover{
    		color: #000;
    	}
    	img{
    		padding-left: 10px;
    	}
	}
}
.overlay-popup__cart-block{
	width: 100%;
    margin-bottom: 10px;
    float: left;
    .overlay-popup__thumb{
    	width: 50px;
    	float: left;
    }
    .overlay-popup__description{
    	padding-left: 30px;
    	width: calc(100% - 50px);
    	float: left;
    	.overlay-popup__description-name{
    		font-family: $secondary-font;
			   font-weight: 700;
			   font-size: 17px;
			   line-height: 20px;
			   margin-bottom: 10px;
    	}
    	.overlay-popup__description-price{
    		.description-price__manu{
    			float: left;
				width: 50%;
				font-family: $primery-font;
				font-weight: 700;
				font-size: 25px;
				display: flex;
				span{
					padding-right: 5px;
				}
    		}
    		.description-price__calc{
    			float: left;
			    width: 40%;
			    text-align: center;
			    font-size: 0;
			    display: flex;
			    padding-left: 37px;
			    input{
			    	padding-bottom: 5px;
				    height: 26px;
				    cursor: pointer;
				    text-align: center;
				    font-size: 21px;
				    width: 30px;
				    display: inline-block;
				    vertical-align: top;
				    background: #F4F5FB;
				    border: 0.5px solid #D4D4D4;
				    box-sizing: border-box;
				    outline: none;
			    }
			    span{
			    	padding-bottom: 5px;
				    height: 26px;
				    cursor: pointer;
				    text-align: center;
				    font-size: 21px;
				    width: 30px;
				    display: inline-block;
				    vertical-align: top;
				    background: #F4F5FB;
				    border: 0.5px solid #D4D4D4;
				    box-sizing: border-box;
				    outline: none;
			    }
			    .minus{
			    	border-radius: 15px 0 0 15px;
			    }
			    .value{
			    	font-family: $primery-font;
				    font-weight: 400;
				    font-size: 21px;
			    }
			    .plus{
			    	border-radius: 0 15px 15px 0;
			    }
    		}
    	}
    }
    .aside-price{
    	padding: 20px 0;
	    float: left;
	    width: 100%;
	    border-top: 1px solid #000;
	    border-bottom: 1px solid #000;
	    margin-top: 40px;
	    margin-bottom: 30px;
	    .aside-price__total{
	    	float: left;
		    font-weight: 700;
		    font-family: $secondary-font;
		    font-size: 16px;
		    line-height: 19px;
		    color: $primery-text-color;
	    }
	    .aside-price__full-cost{
	    	float: right;
		    font-family: $primery-font;
		    font-weight: 700;
		    font-size: 25px;
		    line-height: 19px;
	    }
    }
}
.close{
	position: absolute;
    width: 20px;
    cursor: pointer;
}
.buttons-block{
    .button-basket{
    	display: inline-block;
		padding: 12px;
		border: 1.8px solid #2D9E1A;
		box-sizing: border-box;
		border-radius: 92px;
		a{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: $primery-text-color;
			text-decoration: none;
			padding: 12px 22px;
		}
    }
}
.button-buy{
    display: inline-block;
    background: #88B447;
	border-radius: 92px;
	padding: 12px 22px;
	margin-right: 18px;
	a{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		text-decoration: none;
		padding: 12px 22px;
	}
}
.overlay-popup__login{
	display: none;
    font-family: $secondary-font;
    width: 840px;
    background: #fff;
    position: absolute;
    z-index: 4;
    padding: 60px;
    margin: auto;
    top: 80px;
    right: 0;
    left: 50%;
    padding-top: 25px;
    box-sizing: border-box;
    &:before{
    	top: 0;
	    content: "";
	    display: block;
	    position: absolute;
	    height: 100%;
	    width: 50vw;
	    left: 100%;
	    background: #fff;
    }  
}
.overlay-popup__login-title{
   	font-family: $secondary-font;
	font-size: 20px;
	font-weight: bold;
	color: #242935;
	margin-bottom: 16px;
}
.overlay-popup__login-registr-form{
    width: calc(50% - 50px);
	padding-right: 50px;
	border-right: 1px solid #EAE9E9;
	float: left;
	.input-form{
		input{
		 	font-size: 17px;
			line-height: 20px;
			height: 49px;
			border: 1px solid #CACACA;
			box-sizing: border-box;
			padding-left: 10px;
			margin-bottom: 20px;
			width: 100%;
			display: block;
		}
		label{
		   	font-weight: 700;
			font-size: 17px;
			display: block;
			    margin-bottom: 8px;
		}	
	}
	.password-forgot{
    	font-family: $secondary-font;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #858A95;
	}
    .overlay-popup__checkbox{
		margin-top: 15px;
		font-size: 15px;
		margin-bottom: 30px;
		input{
			cursor: pointer;
			margin-right: 10px;
			display: none;
		}
		label{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 14px;
			color: $primery-text-color;
			&:before{
				content: "";
				display: inline-block;
				border: 1px solid #D6D6D6;
				font-size: 20px;
				line-height: 22px;
				margin: -5px 5px 0 0;
				height: 20px;
				width: 20px;
				cursor: pointer;
			}
			span{
				position: absolute;
			}
    	}
		input[type="checkbox"]:checked + label:before{ 
			background-color: #88B447;
			background-image: url(../img/49-Vector.svg);
			background-position: center;
			background-repeat: no-repeat;
		}
	}
    .button-cancel{
    	margin-top: 18px;
	    margin-left: 10px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    a{
	    	font-family: $secondary-font;
			font-weight: 500;
			font-size: 15px;
			color: #242935;
			text-decoration: none;
	    }
    }
}
.overlay-popup__social{
	width: calc(50% - 50px);
    padding-left: 50px;
    float: left;
    .social-login{
    	font-weight: bold;
	    font-size: 17px;
	    display: block;
	    margin-bottom: 12px;
    }
    .facebook-batton{
	    color: #fff;
	    text-decoration: none;
	    margin-bottom: 10px;
	    background: #45629B;
	    border-radius: 4px;
	    max-width: 170px;
	    display: block;
	    padding: 10px 20px 10px 50px;
	    i{
	    	padding-right: 10px;
	    }
    }
    .google-batton{
	    color: #fff;
	    text-decoration: none;
	    margin-bottom: 100px;
	    background: #4688F1;
	    border-radius: 4px;
	    max-width: 170px;
	    display: block;
	    padding: 10px 20px 10px 50px;
	    i{
	    	padding-right: 10px;
	    }
    }
    .register-block__guestion{
    	font-family: $secondary-font;
		font-weight: 500;
		font-size: 16px;
		color: #858A95;
		margin-bottom: 5px;
    }
    .register-block__regiser{
    	a{
    		font-family: $secondary-font;
			font-weight: bold;
			font-size: 17px;
			text-decoration-line: underline;
			color: #242935;
    	}
    }
}
.overlay-popup__checkin{
	display: none;
    font-family: $secondary-font;
    width: 1000px;
    background: #fff;
    position: absolute;
    z-index: 4;
    padding: 60px;
    margin: auto;
    top: 80px;
    right: 0;
    left: 50%;
    padding-top: 25px;
    box-sizing: border-box;
    // max-width: 1000px;
    &:before{
    	top: 0;
	    content: "";
	    display: block;
	    position: absolute;
	    height: 100%;
	    width: 50vw;
	    left: 100%;
	    background: #fff;
    }
    .check{
    	display: flex;
    	align-items: center;
    	.check-input{
    		margin-bottom: 0;
    	}
    }
}
.overlay-popup__call-back{
	display: none;
    text-align: center;
    position: fixed;
    z-index: 5;
    background: #fff;
    border: 0.5px solid #B7B7B7;
    padding: 50px 30px 65px 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 525px;
    max-height: 240px;
    min-height: 410px;
    justify-content: space-around;
    .call-back__close{
    	cursor: pointer;
    	position: absolute;
	    top: 20px;
	    right: 20px;
    }
    .overlay-popup__call-back-feedback{
    	width: 70%;
	    margin: 0 auto;
	    text-align: left;
	    .call-back-button{
	    	padding: 12px 60px;
	    }
    }
}
.input-form{
	input{
    	height: 49px;
	    border: 1px solid #CACACA;
	    box-sizing: border-box;
	    padding-left: 10px;
	    margin-bottom: 20px;
	    width: 100%;
	    display: block;
	}
    label{
    	font-family: $secondary-font;
		font-weight: bold;
		font-size: 17px;
		line-height: 20px;
		color: #000000;
    }	
}
.overlay-popup__to-order{
	display: none; 
    text-align: center;
    position: fixed;
    z-index: 5;
    background: #fff;
    border: 0.5px solid #B7B7B7;
    padding: 50px 30px 65px 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 900px;
    max-height: 450px;
    .call-back__close{
    	position: absolute;
	    top: 20px;
	    right: 20px;
	    cursor: pointer;
    }
    .overlay-popup__to-order-form{
    	width: 40%;
    	float: left;
    }
    .overlay-popup__to-order-text{
    	width: 60%;
	    float: left;
	    text-align: left;
	    padding-left: 25px;
	    label{
	    	font-weight: 700;
		    font-size: 17px;
		    line-height: 20px;
		    display: block;
		    margin-bottom: 8px;
	    }
	    textarea{
	    	padding: 10px;
		    height: 144px;
		    width: 100%;
	    }
    }
}
