@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.custom-container {
  max-width: 1350px; }

.d-flex {
  display: flex !important; }

.header .logo {
  cursor: pointer; }
.header .number {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #040D21;
  margin-top: 10px; }
.header .icon {
  text-align: right;
  cursor: pointer; }
  .header .icon img {
    padding-left: 10px; }
.header .custom-buttom {
  cursor: pointer;
  border: 1.8px solid #2D9E1A;
  box-sizing: border-box;
  border-radius: 92px;
  height: 46px;
  padding: 0 22px;
  line-height: 42px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #242935;
  margin-top: 10px; }
.header .language {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #242935;
  margin-top: 23px;
  cursor: pointer; }
  .header .language img {
    transition: all .5s; }
  .header .language.turn img {
    transform: rotate(180deg); }
  .header .language select {
    outline: none;
    border: none;
    appearance: none; }
.header .text {
  margin-top: 20px; }
  .header .text ul {
    margin: 0;
    padding: 0;
    border: 0; }
    .header .text ul li {
      display: inline-block;
      padding-right: 10px; }
      .header .text ul li a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 17px;
        color: #242935; }
.header .navigation {
  margin-top: 10px;
  border-bottom: 1px solid #B7B7B7;
  border-top: 1px solid #B7B7B7;
  overflow: hidden; }
  .header .navigation .custom-container {
    padding: 0; }
  .header .navigation .nav {
    font-size: 0; }
  .header .navigation ul {
    text-align: center;
    width: 100%;
    display: table;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0; }
    .header .navigation ul li {
      list-style-type: none;
      display: table-cell;
      padding: 20px 20px;
      opacity: 0.83;
      border-right: 0.5px solid #B7B7B7; }
      .header .navigation ul li a {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #242935;
        text-decoration: none; }
.header label {
  margin: 0;
  margin-left: 9px; }
.header input {
  display: none; }

.hamburger {
  margin: 0 auto;
  width: 20px;
  height: 14px;
  position: relative;
  display: block;
  cursor: pointer; }
  .hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    background: #555555; }
  .hamburger .bar1 {
    top: 0; }
  .hamburger .bar2 {
    top: 6px; }
  .hamburger .bar3 {
    right: 0;
    top: 6px; }
  .hamburger .bar4 {
    bottom: 0; }

.header-basket {
  display: flex;
  cursor: pointer; }

.circle {
  background: #F4F5FB;
  margin-right: 5px;
  border-radius: 50px;
  height: 52px;
  width: 52px;
  position: relative;
  margin-top: 10px;
  display: block; }
  .circle img {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto; }

.decree {
  margin-top: 30px;
  display: block; }
  .decree a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #242935;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0; }

.search {
  background: #F4F5FB;
  position: relative;
  display: block; }
  .search:before {
    content: " ";
    position: absolute;
    background: #F4F5FB;
    display: block;
    height: 100%;
    width: 50vw;
    left: 100%;
    top: 0; }
  .search .search-button {
    background: none;
    outline: none;
    border: none;
    margin: auto;
    padding: 0;
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
    top: 0;
    bottom: 3px;
    left: 30px; }
  .search .search-input {
    font-size: 18px;
    padding: 22px 10px 22px 70px;
    background: none;
    border: none;
    outline: none;
    font-style: italic;
    display: inline-block; }
  .search .search-button__img {
    cursor: pointer; }

#checkbox2 {
  display: none; }

.checkbox1:checked + label > .hamburger1 > .bar1,
.checkbox2:checked + label > .hamburger2 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 6%;
  width: 21px; }

.checkbox1:checked + label > .hamburger1 > .bar2,
.checkbox2:checked + label > .hamburger2 > .bar2 {
  transform: translateX(-21px);
  background-color: transparent; }

.checkbox1:checked + label > .hamburger1 > .bar3,
.checkbox2:checked + label > .hamburger2 > .bar3 {
  transform: translateX(21px);
  background-color: transparent; }

.checkbox1:checked + label > .hamburger1 > .bar4,
.checkbox2:checked + label > .hamburger2 > .bar4 {
  transform-origin: 6%;
  transform: rotate(-45deg);
  width: 21px; }

.header-mobile .logo {
  width: 120px;
  height: 44px;
  margin: 10px 0 0 4px; }
.header-mobile .popup-search {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: none;
  top: 5px;
  right: 5px;
  border: none;
  outline: none; }
.header-mobile .hamburger {
  margin: 0;
  width: 28px;
  height: 15px; }
  .header-mobile .hamburger .bar {
    width: 28px;
    height: 3px; }
  .header-mobile .hamburger .bar2 {
    top: 6px; }
  .header-mobile .hamburger .bar3 {
    top: 6px; }

.advanced-search {
  padding: 76px 0 43px 0;
  background: #F6F7FC; }
  .advanced-search h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #242935; }
  .advanced-search p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 7px; }
  .advanced-search select {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000000;
    height: 52px;
    width: 240px;
    padding-left: 22px;
    border: none;
    outline: none; }
  .advanced-search label {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .advanced-search .block-2 .block-2_p {
    padding: 25px 0 7px; }
  .advanced-search .check-block {
    display: flex; }
    .advanced-search .check-block input {
      margin: 5px 30px 0 7px; }
    .advanced-search .check-block span {
      padding-right: 10px; }
    .advanced-search .check-block .checkbox-books {
      margin-top: 15px;
      font-size: 14px; }
      .advanced-search .check-block .checkbox-books input {
        cursor: pointer;
        margin-right: 10px;
        display: none; }
      .advanced-search .check-block .checkbox-books label:after {
        content: "";
        display: inline-block;
        border: 1px solid #D6D6D6;
        font-size: 20px;
        line-height: 22px;
        margin: -5px 5px 0 0;
        height: 20px;
        width: 20px;
        cursor: pointer; }
      .advanced-search .check-block .checkbox-books input[type="checkbox"]:checked + label:after {
        color: #000;
        background: url(../img/Vector.png) no-repeat center center; }
  .advanced-search .block-4__input input {
    opacity: 0.83;
    border: 1px solid #E2E6EA;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    padding: 15px 100px 15px 23px; }
  .advanced-search .block-4__input p {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: -0.0825px;
    padding-top: 2px;
    color: #9B9B9B; }
  .advanced-search .find a {
    background: #88B447;
    border-radius: 92px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 66px 12px 66px;
    display: inline-block; }
  .advanced-search .find .find-reset {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.0825px;
    text-decoration-line: underline;
    color: #000000;
    display: inline-block;
    margin-left: 30px; }
  .advanced-search .block-3 .advanced-search select {
    margin-bottom: 24px; }
  .advanced-search .block-3 #slider-price {
    width: 240px; }
  .advanced-search .block-3 #slider-price__value {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    letter-spacing: -0.0825px;
    color: #000000;
    text-align: center;
    display: block;
    margin-top: 12px; }
  .advanced-search .block-3 .ui-widget.ui-widget-content {
    border: none; }
  .advanced-search .block-3 .ui-slider-horizontal {
    height: 5px; }
  .advanced-search .block-3 .ui-widget-header {
    border-radius: 5px;
    outline: 0;
    border: none;
    background: #80899F; }
  .advanced-search .block-3 .ui-state-default {
    background: #69B35D;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none; }
  .advanced-search .block-3 .ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -.6em; }
  .advanced-search .block-3 .select-price {
    margin-bottom: 24px; }
  .advanced-search .block-4 {
    padding: 0; }
    .advanced-search .block-4 .block-4__input input {
      position: relative;
      outline: none; }
    .advanced-search .block-4 .block-4__input img {
      position: absolute;
      top: 60px;
      left: 220px; }
  .advanced-search .search-avtor {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.0825px;
    color: #9B9B9B;
    margin-bottom: 20px; }
  .advanced-search .value {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    letter-spacing: -0.0825px;
    color: #000000;
    margin-top: 25px; }
  .advanced-search input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #80899F;
    width: 240px;
    height: 5px;
    border-radius: 5px;
    outline: 0;
    margin-top: 25px; }
  .advanced-search input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #69B35D;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer; }
  .advanced-search input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6); }

.advanced-search__close, close {
  position: absolute;
  width: 20px;
  cursor: pointer;
  top: 160px;
  right: 5px; }
  .advanced-search__close:hover, close:hover {
    opacity: 1; }
  .advanced-search__close:before, close:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #ef6344;
    transform: rotate(45deg); }
  .advanced-search__close:after, close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #EF6344;
    transform: rotate(-45deg); }

.all-books {
  padding: 31px 0 56px 0;
  display: none; }
  .all-books .all-books-one li a {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 204%;
    color: #242935;
    padding: 5px 0;
    display: block; }

.slick {
  padding-top: 25px;
  margin: 0 -15px;
  height: 100%;
  width: 100%; }
  .slick .slider-wrapper {
    padding: 0 15px;
    outline: none; }
  .slick .books-slider {
    height: 230px; }
  .slick .img-1 {
    background: url(../img/11.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .slick .img-1 p {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #242935;
      padding: 22px 0 0 43px; }
    .slick .img-1 h3 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 33px;
      line-height: 39px;
      letter-spacing: 3.3px;
      color: #242935;
      text-align: left;
      margin-left: 25px;
      width: 60%; }
  .slick .img-2 {
    background: url(../img/12.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .slick .img-2 p {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #EEEEEE;
      padding: 22px 0 0 43px; }
    .slick .img-2 h3 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 33px;
      line-height: 39px;
      letter-spacing: 3.3px;
      color: #FFFFFF;
      text-align: left;
      margin-left: 25px;
      width: 60%; }
  .slick .img-3 {
    background: url(../img/13.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .slick .img-3 p {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #EEEEEE;
      padding: 22px 0 0 43px; }
    .slick .img-3 h3 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 33px;
      line-height: 39px;
      letter-spacing: 3.3px;
      color: #FFFFFF;
      text-align: left;
      margin-left: 25px;
      width: 60%; }
  .slick .slick-next {
    right: calc(33.33333% - 25px);
    z-index: 2;
    background: url(../img/23-prew.svg) center center;
    height: 50px;
    width: 50px; }
    .slick .slick-next:before {
      content: none; }
  .slick .slick-prev {
    left: calc(33.33333% - 25px);
    z-index: 2;
    background: url(../img/22-next.svg) center center;
    height: 50px;
    width: 50px; }
    .slick .slick-prev:before {
      content: none; }

.services-block {
  padding: 22px 0 148px 0;
  display: block; }
  .services-block .services-block-one {
    background: #F8F8FA;
    border-radius: 7px;
    text-align: center;
    padding: 14px 9px;
    min-height: 190px;
    height: 100%; }
    .services-block .services-block-one img {
      display: block;
      margin: 20px auto 17px auto; }
    .services-block .services-block-one .text {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #242935; }

.book-list {
  background: #F8F8FA;
  padding: 55px 0 70px 0; }
  .book-list .news-slider {
    position: relative; }
    .book-list .news-slider .news {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 3.3px;
      color: #242935;
      padding: 57px 35px; }
    .book-list .news-slider .news-slider__img {
      position: absolute;
      top: 68px;
      right: 200px;
      cursor: pointer; }
      .book-list .news-slider .news-slider__img #buttom-left {
        margin-right: 40px; }
  .book-list .cell-block .novelty {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    letter-spacing: 2.3px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    background: #3D649E;
    display: inline-block;
    padding: 0 5px 0 5px;
    top: 57px;
    left: -5px; }

.book-one {
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  position: relative;
  height: 480px;
  max-width: 268px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 23px; }
  .book-one:hover .basket {
    opacity: 1; }
  .book-one:hover {
    height: 600px;
    transition: all 0.3s; }
  .book-one .book-name {
    margin-top: 9px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 131.3%;
    color: #242935;
    padding: 0 25px;
    font-weight: bold; }
  .book-one .author {
    margin-top: 11px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #80899F; }
  .book-one .price {
    margin: 4px 0 40px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    color: #242935; }
  .book-one .basket {
    opacity: 0;
    display: inline-block;
    background: #88B447;
    border-radius: 92px;
    min-width: 166px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px 17px;
    transition: all 0.6s; }
    .book-one .basket a {
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF; }

.rating {
  padding-top: 15px; }
  .rating i {
    color: #F9DAD5;
    font-size: 17px;
    line-height: 20px; }
    .rating i.active {
      color: #F97A69; }

img {
  margin: 0 auto; }

.popular {
  padding: 55px 0 70px 0; }
  .popular .popular-books {
    position: relative; }
    .popular .popular-books .popular-books-p {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 3.3px;
      color: #242935;
      padding: 0 0 35px 57px; }
    .popular .popular-books .popular-books-button {
      position: absolute;
      top: 5px;
      right: 200px;
      cursor: pointer; }
      .popular .popular-books .popular-books-button #arrow-left {
        margin-right: 40px; }

.popular-book {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  letter-spacing: 2.3px;
  color: #FFFFFF;
  transform: rotate(-90deg);
  background: #E6614F;
  display: inline-block;
  padding: 0 5px 0 5px;
  top: 35px;
  left: 5px; }

.margin-15 {
  margin: 15px; }

.leather-books {
  background: #F8F8FA;
  padding: 55px 0 70px 0;
  position: relative; }
  .leather-books .leather-books-name {
    display: inline-block; }
  .leather-books .leather-books__arrows {
    position: absolute;
    top: 64px;
    right: 200px;
    cursor: pointer; }
    .leather-books .leather-books__arrows #leather-books__arrow-left {
      margin-right: 40px; }
  .leather-books .elite {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    letter-spacing: 2.3px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    background: #897869;
    display: inline-block;
    padding: 0 5px 0 5px;
    top: 57px;
    left: -5px; }

.leather-books__offer {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3.3px;
  color: #242935;
  padding: 0 0 35px 57px; }

.leather-books__button {
  border: 1.8px solid #2D9E1A;
  box-sizing: border-box;
  border-radius: 92px;
  position: absolute;
  padding: 12px 12px 13px 17px;
  top: 56px;
  right: 350px; }
  .leather-books__button a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #242935;
    text-decoration: none; }

.leather-books__button-underground {
  position: static;
  margin: 15px 0 0 10px;
  display: none; }

.subscription-block {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px; }
  .subscription-block .subscription-block__text {
    position: relative;
    padding: 35px 25px 35px 130px; }
    .subscription-block .subscription-block__text .action {
      width: 95px;
      height: 100%;
      background: #484F61;
      top: 0;
      left: 1px;
      position: absolute;
      font-weight: 700;
      font-size: 18px; }
      .subscription-block .subscription-block__text .action span {
        transform: rotate(-90deg);
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95px;
        height: 20px;
        display: block;
        margin: auto;
        letter-spacing: 6.3px; }
    .subscription-block .subscription-block__text .title {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #242935;
      line-height: 131.3%;
      margin-bottom: 16px; }
    .subscription-block .subscription-block__text .input-group {
      position: relative;
      margin-bottom: 17px; }
      .subscription-block .subscription-block__text .input-group .input-email {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 17px;
        color: #616161;
        outline: none;
        padding-left: 23px;
        border: 1px solid #C2C2C2;
        box-sizing: border-box;
        border-radius: 3px;
        height: 49px;
        width: 100%;
        padding-right: 110px; }
      .subscription-block .subscription-block__text .input-group .button-subscription {
        background: #88B447;
        height: 49px;
        width: 110px;
        border: none;
        position: absolute;
        right: 0; }
  .subscription-block .top-weeks {
    background: #F2F1F8;
    padding: 35px 0 0 60px;
    position: relative; }
    .subscription-block .top-weeks .top-title {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 38px;
      line-height: 131.3%;
      color: #242935;
      margin-bottom: 10px; }
    .subscription-block .top-weeks .sub-title {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 23px;
      line-height: 131.3%;
      color: #242935; }
    .subscription-block .top-weeks .button-buy {
      border: 1.8px solid #2D9E1A;
      box-sizing: border-box;
      border-radius: 10750px;
      min-width: 166px;
      display: inline-block;
      padding: 12px 17px;
      margin: 12px 0 40px 0;
      text-align: center; }
      .subscription-block .top-weeks .button-buy a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 17px;
        color: #242935; }
    .subscription-block .top-weeks .price {
      display: inline-block;
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 26px;
      text-align: center;
      color: #242935;
      margin-left: 12px; }
    .subscription-block .top-weeks .img-top-weeks {
      position: absolute;
      max-width: 50%;
      top: -10px;
      right: 0; }

.checkbox-agreement {
  margin-top: 15px;
  font-size: 14px; }
  .checkbox-agreement input {
    cursor: pointer;
    margin-right: 10px;
    display: none; }
  .checkbox-agreement label {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #242935; }
    .checkbox-agreement label:before {
      content: "";
      display: inline-block;
      border: 1px solid #D6D6D6;
      font-size: 20px;
      line-height: 22px;
      margin: -5px 5px 0 0;
      height: 20px;
      width: 20px;
      cursor: pointer; }
  .checkbox-agreement input[type="checkbox"]:checked + label:before {
    color: #000;
    background: url(../img/Vector.png) no-repeat center center; }

.events {
  background: #484F61;
  padding: 80px 0 93px 0; }
  .events .title-events {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 3.3px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff; }
  .events .event-one__wraper {
    background: url(../img/31-1968-932-hero.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    min-height: 380px;
    position: relative; }
    .events .event-one__wraper .event-group {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.6s; }
      .events .event-one__wraper .event-group .date__views {
        transition: all 0.6s;
        position: absolute;
        top: 15px;
        left: 25px;
        width: calc(100% - 50px);
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        font-family: "Lato", sans-serif; }
        .events .event-one__wraper .event-group .date__views .eye {
          position: absolute;
          right: 0; }
      .events .event-one__wraper .event-group .sub-title {
        transition: all 0.6s;
        padding: 0 25px;
        position: absolute;
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        top: 143px;
        text-align: center; }
        .events .event-one__wraper .event-group .sub-title a {
          text-decoration: none;
          color: #fff; }
      .events .event-one__wraper .event-group .hashtag {
        position: absolute;
        bottom: 15px;
        left: 25px;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        font-style: italic;
        font-family: "Lato", sans-serif; }
    .events .event-one__wraper:hover .event-group .date__views {
      top: 180px;
      transition: all 0.6s; }
    .events .event-one__wraper:hover .event-group .sub-title {
      top: 225px;
      transition: all 0.6s;
      background: #fff;
      height: 156px;
      width: 100%;
      font-size: 23px;
      text-align: left;
      color: #242935;
      padding: 25px 25px 29px 25px; }
      .events .event-one__wraper:hover .event-group .sub-title a {
        text-decoration: none;
        color: #242935; }
    .events .event-one__wraper:hover .event-group .hashtag {
      color: #242935;
      transition: all 0.6s; }

.scheme-work {
  position: relative; }
  .scheme-work .scheme-left {
    position: absolute;
    left: -25%;
    top: 0; }
  .scheme-work .scheme-right {
    position: absolute;
    right: -20%;
    top: 0; }
  .scheme-work .step-title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3.3px;
    color: #242935;
    margin-top: 70px;
    margin-bottom: 21px; }
  .scheme-work .step-description {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 131.3%;
    text-align: center;
    color: #242935;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60%; }
  .scheme-work .step-block {
    position: relative;
    padding-bottom: 105px; }
    .scheme-work .step-block hr {
      position: absolute;
      height: 3px;
      background: #767E92;
      top: 42px;
      width: 70%;
      left: 15%; }
    .scheme-work .step-block .step-block__one {
      text-align: center;
      position: relative;
      width: 100%;
      min-height: 1px; }
    .scheme-work .step-block .step-block__one-img {
      margin: 0 auto;
      position: relative;
      background: #435275;
      border-radius: 50%;
      height: 117px;
      width: 117px;
      margin-bottom: 17px; }
      .scheme-work .step-block .step-block__one-img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .scheme-work .step-block .step-block__one-name {
      font-family: "Playfair Display", serif;
      color: #2A610F;
      font-weight: bold;
      font-size: 22px;
      line-height: 131.3%;
      margin-bottom: 10px; }
    .scheme-work .step-block .step-block__one-title {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 131.3%; }

.description-block {
  padding: 74px 0 70px 0;
  background: #F8F8FA; }
  .description-block .description-title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 31px;
    line-height: 44px;
    text-align: center;
    color: #242935; }
  .description-block .description-sub-title {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 131.3%;
    text-align: center;
    color: #242935;
    margin-top: 16px;
    margin-bottom: 30px; }
  .description-block .description-text {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: #242935;
    margin-bottom: 50px; }
  .description-block .description-hr {
    height: 1px;
    background: #80899F;
    margin: 65px 0; }
  .description-block .margin-other {
    margin-bottom: 50px; }
  .description-block .description-block__table .description-block__table-title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #242935;
    padding-bottom: 20px; }
    .description-block .description-block__table .description-block__table-title img {
      padding-right: 20px; }
  .description-block .description-block__table p {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #242935; }

.footer-block {
  background: #333947;
  color: #9298A6;
  background: #333947;
  font-family: "Lato",sans-serif;
  padding: 40px 0 45px 0; }
  .footer-block .footer-block__logo p {
    margin-top: 25px;
    font-size: 15px; }
  .footer-block .footer-block__about-title {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #F0F0F0; }
  .footer-block ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0; }
    .footer-block ul li {
      font-size: 16px;
      margin-bottom: 20px; }
      .footer-block ul li a {
        text-decoration: none;
        color: #9298A6; }
        .footer-block ul li a:hover {
          color: #F0F0F0;
          text-decoration: underline; }
  .footer-block .textum {
    text-decoration: underline; }
  .footer-block .footer-block__contacts i {
    font-size: 20px;
    color: #7D9756;
    margin-right: 10px; }
  .footer-block .footer-block__phones i {
    font-size: 20px;
    color: #7D9756;
    margin-right: 10px; }
  .footer-block .footer-block__phones ul {
    margin-top: 0px; }
  .footer-block .footer-block__phones li {
    color: #F0F0F0; }
  .footer-block .social {
    position: relative;
    text-align: center;
    color: #C1C6D0;
    width: 35px;
    height: 35px;
    border: 1px solid #D0D0D0;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    border-radius: 20px; }
    .footer-block .social i {
      color: #C1C6D0;
      margin-top: 6px;
      margin-right: 0; }

img {
  max-width: 100%; }

body {
  overflow-x: hidden; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  background-color: rgba(14, 1, 1, 0.28);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); }

.overlay-popup {
  position: absolute;
  max-width: 700px;
  background: #fff;
  z-index: 4;
  padding: 60px;
  margin: auto;
  top: 80px;
  right: 0;
  left: 55%;
  display: none;
  position: fixed; }
  .overlay-popup:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 100%;
    background: #fff; }
  .overlay-popup .close-popup {
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    color: #242935;
    opacity: .75; }
    .overlay-popup .close-popup:hover {
      color: #000; }
    .overlay-popup .close-popup img {
      padding-left: 10px; }

.overlay-popup__cart-block {
  width: 100%;
  margin-bottom: 10px;
  float: left; }
  .overlay-popup__cart-block .overlay-popup__thumb {
    width: 50px;
    float: left; }
  .overlay-popup__cart-block .overlay-popup__description {
    padding-left: 30px;
    width: calc(100% - 50px);
    float: left; }
    .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-name {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 10px; }
    .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__manu {
      float: left;
      width: 50%;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 25px;
      display: flex; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__manu span {
        padding-right: 5px; }
    .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc {
      float: left;
      width: 40%;
      text-align: center;
      font-size: 0;
      display: flex;
      padding-left: 37px; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc input {
        padding-bottom: 5px;
        height: 26px;
        cursor: pointer;
        text-align: center;
        font-size: 21px;
        width: 30px;
        display: inline-block;
        vertical-align: top;
        background: #F4F5FB;
        border: 0.5px solid #D4D4D4;
        box-sizing: border-box;
        outline: none; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc span {
        padding-bottom: 5px;
        height: 26px;
        cursor: pointer;
        text-align: center;
        font-size: 21px;
        width: 30px;
        display: inline-block;
        vertical-align: top;
        background: #F4F5FB;
        border: 0.5px solid #D4D4D4;
        box-sizing: border-box;
        outline: none; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc .minus {
        border-radius: 15px 0 0 15px; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc .value {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 21px; }
      .overlay-popup__cart-block .overlay-popup__description .overlay-popup__description-price .description-price__calc .plus {
        border-radius: 0 15px 15px 0; }
  .overlay-popup__cart-block .aside-price {
    padding: 20px 0;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 40px;
    margin-bottom: 30px; }
    .overlay-popup__cart-block .aside-price .aside-price__total {
      float: left;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #242935; }
    .overlay-popup__cart-block .aside-price .aside-price__full-cost {
      float: right;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 19px; }

.close {
  position: absolute;
  width: 20px;
  cursor: pointer; }

.buttons-block .button-basket {
  display: inline-block;
  padding: 12px;
  border: 1.8px solid #2D9E1A;
  box-sizing: border-box;
  border-radius: 92px; }
  .buttons-block .button-basket a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #242935;
    text-decoration: none;
    padding: 12px 22px; }

.button-buy {
  display: inline-block;
  background: #88B447;
  border-radius: 92px;
  padding: 12px 22px;
  margin-right: 18px; }
  .button-buy a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 22px; }

.overlay-popup__login {
  display: none;
  font-family: "Lato", sans-serif;
  width: 840px;
  background: #fff;
  position: absolute;
  z-index: 4;
  padding: 60px;
  margin: auto;
  top: 80px;
  right: 0;
  left: 50%;
  padding-top: 25px;
  box-sizing: border-box; }
  .overlay-popup__login:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 100%;
    background: #fff; }

.overlay-popup__login-title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #242935;
  margin-bottom: 16px; }

.overlay-popup__login-registr-form {
  width: calc(50% - 50px);
  padding-right: 50px;
  border-right: 1px solid #EAE9E9;
  float: left; }
  .overlay-popup__login-registr-form .input-form input {
    font-size: 17px;
    line-height: 20px;
    height: 49px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: block; }
  .overlay-popup__login-registr-form .input-form label {
    font-weight: 700;
    font-size: 17px;
    display: block;
    margin-bottom: 8px; }
  .overlay-popup__login-registr-form .password-forgot {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #858A95; }
  .overlay-popup__login-registr-form .overlay-popup__checkbox {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 30px; }
    .overlay-popup__login-registr-form .overlay-popup__checkbox input {
      cursor: pointer;
      margin-right: 10px;
      display: none; }
    .overlay-popup__login-registr-form .overlay-popup__checkbox label {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #242935; }
      .overlay-popup__login-registr-form .overlay-popup__checkbox label:before {
        content: "";
        display: inline-block;
        border: 1px solid #D6D6D6;
        font-size: 20px;
        line-height: 22px;
        margin: -5px 5px 0 0;
        height: 20px;
        width: 20px;
        cursor: pointer; }
      .overlay-popup__login-registr-form .overlay-popup__checkbox label span {
        position: absolute; }
    .overlay-popup__login-registr-form .overlay-popup__checkbox input[type="checkbox"]:checked + label:before {
      background-color: #88B447;
      background-image: url(../img/49-Vector.svg);
      background-position: center;
      background-repeat: no-repeat; }
  .overlay-popup__login-registr-form .button-cancel {
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top; }
    .overlay-popup__login-registr-form .button-cancel a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 15px;
      color: #242935;
      text-decoration: none; }

.overlay-popup__social {
  width: calc(50% - 50px);
  padding-left: 50px;
  float: left; }
  .overlay-popup__social .social-login {
    font-weight: bold;
    font-size: 17px;
    display: block;
    margin-bottom: 12px; }
  .overlay-popup__social .facebook-batton {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    background: #45629B;
    border-radius: 4px;
    max-width: 170px;
    display: block;
    padding: 10px 20px 10px 50px; }
    .overlay-popup__social .facebook-batton i {
      padding-right: 10px; }
  .overlay-popup__social .google-batton {
    color: #fff;
    text-decoration: none;
    margin-bottom: 100px;
    background: #4688F1;
    border-radius: 4px;
    max-width: 170px;
    display: block;
    padding: 10px 20px 10px 50px; }
    .overlay-popup__social .google-batton i {
      padding-right: 10px; }
  .overlay-popup__social .register-block__guestion {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #858A95;
    margin-bottom: 5px; }
  .overlay-popup__social .register-block__regiser a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration-line: underline;
    color: #242935; }

.overlay-popup__checkin {
  display: none;
  font-family: "Lato", sans-serif;
  width: 1000px;
  background: #fff;
  position: absolute;
  z-index: 4;
  padding: 60px;
  margin: auto;
  top: 80px;
  right: 0;
  left: 50%;
  padding-top: 25px;
  box-sizing: border-box; }
  .overlay-popup__checkin:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 100%;
    background: #fff; }
  .overlay-popup__checkin .check {
    display: flex;
    align-items: center; }
    .overlay-popup__checkin .check .check-input {
      margin-bottom: 0; }

.overlay-popup__call-back {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 5;
  background: #fff;
  border: 0.5px solid #B7B7B7;
  padding: 50px 30px 65px 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 525px;
  max-height: 240px;
  min-height: 410px;
  justify-content: space-around; }
  .overlay-popup__call-back .call-back__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px; }
  .overlay-popup__call-back .overlay-popup__call-back-feedback {
    width: 70%;
    margin: 0 auto;
    text-align: left; }
    .overlay-popup__call-back .overlay-popup__call-back-feedback .call-back-button {
      padding: 12px 60px; }

.input-form input {
  height: 49px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 100%;
  display: block; }
.input-form label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }

.overlay-popup__to-order {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 5;
  background: #fff;
  border: 0.5px solid #B7B7B7;
  padding: 50px 30px 65px 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 900px;
  max-height: 450px; }
  .overlay-popup__to-order .call-back__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .overlay-popup__to-order .overlay-popup__to-order-form {
    width: 40%;
    float: left; }
  .overlay-popup__to-order .overlay-popup__to-order-text {
    width: 60%;
    float: left;
    text-align: left;
    padding-left: 25px; }
    .overlay-popup__to-order .overlay-popup__to-order-text label {
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      display: block;
      margin-bottom: 8px; }
    .overlay-popup__to-order .overlay-popup__to-order-text textarea {
      padding: 10px;
      height: 144px;
      width: 100%; }

/*# sourceMappingURL=main.css.map */
