
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
	.header .navigation ul li{
		padding: 20px 10px
	}
	.advanced-search .find .find-reset{
		margin-left: 5px
	}
	.header .decree{
		display: none;
	}
	.search .search-input{
		padding-left: 30px;
	}
	.search .search-button{
		left: 5px;
	}
	.header .navigation ul li a{
		font-size: 13px;
	}
	.header .number{
		font-size: 16px;
	}
	.header .text ul li a{
		font-size: 16px;
	}
	.advanced-search .find a {
		padding: 12px 45px 12px 45px;
	}
	.advanced-search__close {
		right: 20px;
	}
	.leather-books .leather-books__button{
		right: 285px;
		padding: 10px 5px 7px 5px;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.search .search-input{
    	padding-left: 25px;
	}
	.header .custom-buttom {
    	text-align: center;
    	height: 40px;
	    padding: 5px 10px;
	    line-height: 15px;
	    font-size: 14px;
	}
	.header .navigation ul li a{
		font-size: 12px;
	}
	.advanced-search .block-4 .block-4__input input{
		 font-size: 14px;
    	padding: 15px 35px 15px 15px;
	}
	.advanced-search .block-4 .block-4__input img{
		left: 175px;
	}
	.advanced-search .check-block .checkbox-books label:after{
		margin: 1px 5px 0 0;
	}
	.advanced-search select{
		width: 175px;
    	padding-left: 5px;
    	font-size: 14px;
	}
	.advanced-search .block-3 #slider-price{
		width: 170px;
	}
	.advanced-search .find a{
		padding: 12px 40px 12px 40px;
	}
	.advanced-search .find .find-reset{
		margin-left: 3px;
		font-size: 14px;
	}
	.advanced-search__close{
		right: 25px;
	}
	.advanced-search h3{
		font-size: 15px;
    	line-height: 23px;
	}
	.slick .img-1 h3{
		font-size: 25px;
    	line-height: 30px;
	}
	.slick .img-2 h3{
		font-size: 25px;
    	line-height: 25px;
	}
	.slick .img-3 h3{
		font-size: 25px;
    	line-height: 30px;
	}
	.advantages_block{
		margin-bottom: 30px;
		flex: 1 1 27%;
    max-width: 33%;
	}
	.services-block {
		padding: 22px 0 30px 0;
	}
	.book-one{
		max-width: 250px;
	}
	.book-one:hover {
    height: 500px;
	}
	.book-one .price {
    margin: 5px 0 20px;
    font-size: 20px;
	}
	.leather-books .leather-books__offer{
		font-size: 15px;
		padding: 10px 0 20px 20px;
	}
	.leather-books .leather-books__button{
		padding: 10px 5px 10px 5px;
    	right: 300px;
	}
	.leather-books .leather-books__button a {
    	font-size: 14px;
	}
	.leather-books .leather-books__offer {
    	font-size: 20px;
	}
	.find{
		display: flex;
	}
	.popular .popular-books .popular-books-p {
		font-size: 18px;
	}
	.book-list .news-slider .news{
		padding: 35px 35px;
	}
	.book-list .news-slider .news-slider__img {
		top: 40px;
	}
	.footer-block ul li {
		font-size: 19px;
	}
	.footer-block .social{
		width: 30px;
    	height: 30px;
	}
	.footer-block .footer-block__phones i{
		font-size: 15px;
	}
	.footer-block .footer-block__contacts i{
		font-size: 15px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.advanced-search .find .find-reset {
    	display: none;
	}
	.display-none{
		display: none;
	}
	.leather-books__button{
		display: none;
	}
	.leather-books__button-underground{
		display: inline-block;
	}
	.leather-books .leather-books__arrows {
    	right: 40px;
	}
	.header{
		display: none;
	}
	.advanced-search{
		display: none;
	}
	.scheme-work .scheme-left{
		display: none;
	}
	.scheme-work .scheme-right{
		display: none;
	}
	.scheme-work .step-block hr {
		display: none;
	}
	.description-block .description-title{
		font-size: 22px;
		margin-top: 40px;
	}
	.description-block .description-sub-title{
		font-size: 20px;
		margin-bottom: 30px;
	}
	.description-block .description-text{
		font-size: 16px;
	}
	.description-block .description-hr{
		margin: 40px 0;
	}
	.description-block .margin-other {
		margin-bottom: 20px;
	}
}

@media (max-width: 576px) {
	.slick .slick-next {
		right: 0;
	}
	.slick .slick-prev {
		left: 0;
	}
	.slick {
		min-height: 135px;
		padding-top: 10px;
		margin-left: 5px;
	}
	.slick-dots {
		bottom: 0;
	}
	.slick-dots li button:before{
		color: #FFF;
		/*opacity: inherit;*/
	}
	.slick-dots li.slick-active button:before {
		color: #E6614F;
	}
	.advantages_block{
		max-width: 50%;
	}
	.book-list .news-slider .news {
		font-size: 25px;
	}
	.book-list .news-slider .news-slider__img {
		top: 35px;
		right: 40px;
	}
	.book-one {
		height: 530px;
	}
	.book-one .basket{
	opacity: 1;
	}
	.popular .popular-books .popular-books-p {
		font-size: 14px;
		padding: 0 0 35px 15px;
	}
	.popular .popular-books .popular-books-button {
		top: 25px;
		right: 25px;
	}
	.popular .popular-books .popular-books-button #arrow-left {
		margin-right: 20px;
	}
	.leather-books .leather-books__arrows {
		right: 15px;
		top: 60px;
	}
	.leather-books .leather-books__offer {
		font-size: 14px;
	}
	.leather-books .leather-books__arrows #leather-books__arrow-left {
		margin-right: 20px;
	}
	.subscription-block .top-weeks .img-top-weeks {
		max-width: 100%;
	}
	.subscription-block .top-weeks .top-title {
		text-align: center;
		font-size: 32px;
		margin-top: 150px;
	}
	.subscription-block .top-weeks .sub-title {
		font-size: 22px;
		text-align: center;
		margin-bottom: 0;
	}
	.subscription-block .top-weeks .buy-block {
		text-align: center;
		height: 100px;
		position: relative;
	}
	.subscription-block .top-weeks .button-buy {
		margin: 12px 0 15px 0;
	}
	.subscription-block .subscription-block__text .action{
		display: none;
	}
	.subscription-block .subscription-block__text {
		padding: 0;
	}
	.subscription-block .subscription-block__text .title{
		margin-top: 30px;
		font-size: 17px;
		text-align: center;
		line-height: 150%;
	}
	.subscription-block .subscription-block__text .input-group .button-subscription {
		width: 55px;
	}
	.checkbox-agreement{
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.events .title-events{
		font-size: 23px;
		margin-bottom: 20px;
	}
	.events{
		padding: 30px 0 60px 0;
	}
	.event-one{
		margin-bottom: 10px;
	}
	.scheme-work .step-title{
		font-size: 23px;
		margin-top: 45px;
		margin-bottom: 15px;
	}
	.scheme-work .step-description{
		font-size: 20px;
	}
	.description-block .description-block__table .description-block__table-title {
		font-size: 16px;
	}
	.description-block .description-block__table p{
		font-size: 16px;
	}
	.footer-block__about{
		display: none;
	}
	.footer-block{
		text-align: center;
	}
	.footer-block .footer-block__about-title{
		margin-top: 20px;
	}
	.footer-block__logo{
		margin-top: 18px;
	}
}

